* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 /* this is just for me */
div {
	border: 1px solid red;
}
 .header{
	display: flex;
	justify-content: space-between;
	background-color: #1f2937;
 }